#contente {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
        flex-direction: row;
        gap: 800px;
        justify-content: space-around;
        align-items: center;
}
    .box1 {
        width: 100px;
        height: 40px;
        background-color: blueviolet;

       
    }
    .box2 {
        width: 250px;
        height: 40px;
        background-color: blueviolet;

    }
    #contente1 {
        width: 100%;
        height: 700px;
        background-color: rgb(78, 78, 78);
        display: flex;
        flex-direction: row;
        gap: 300px;
        justify-content: center;
        align-items: center;
    }
    .box3 {
        width: 500px;
        height: 300px;
        background-color: rgb(25, 0, 255);
        display: flex;

    }
    .box4 {
        width: 250px;
        height: 50px;
        background-color: rgb(55, 0, 255);
        margin: 325px 10px 0 10px;
    
    }
    .box5 {
        width: 900px;
        height: 600px;
        background-color: rgb(47, 0, 255);
    }
    #conteiner3 {
        width: 100%;
        height: 700px;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 100px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .boxap 
    {
        width: 400px;
        height: 600px;
        background-color: rgb(95, 5, 5);
    }